TELEGRAM_TOKEN=8974773131:AAEGkBtIgmaOy7X-hNcEzKoOUlBu3_9gNts
CHAT_ID=200788807
SUPABASE_URL=https://qlbczflygozfvwyilhes.supabase.co/rest/v1/consultas_historicas
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsYmN6Zmx5Z296ZnZ3eWlsaGVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NDM0NTAsImV4cCI6MjA5NDUxOTQ1MH0.EiNp2HRocIqW4yStNxBoHgDN-EfFZvPv_Uc5ETo0wYg
